/* =====================================
 * PLUGINS PAGE SPECIFIC STYLE
 * ===================================== */

body.plugins main {
    max-width: initial;
    width: 80%
}

body.plugins article {
    overflow-wrap: break-word;
}

@media (min-width: 1024px) {
    body.plugins .md-masonry {
        column-count: 3;
    }
}

body.plugins #plugin-search::-webkit-search-cancel-button {
    -webkit-appearance: none;
    position: absolute;
}

body.plugins .md-search-field {
    max-width: 30em;
    margin: auto;
    margin-bottom: 16px;
}
