<div class="md-footer-content">
    <div class="md-footer-grid">
        <div>
            <h4>About</h4>
            <ul>
                <li><a href="/contributors">Contributors</a></li>
            </ul>
        </div>
        <div>
            <h4>Connect</h4>
            <div class="md-footer-social">
                <a href="https://mastodon.social/@aliucord" aria-label="Twitter">
                    <span class="material-symbols-outlined">chat</span>
                </a>
            </div>
        </div>
    </div>
    <div class="md-footer-copyright">
        <p>&copy; {{ now.Year }} {{ .Site.Title }}. Code available on <a href="https://github.com/Aliucord/website">GitHub.</a></p>
    </div>
</div>
